<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="conexion" value="Password=C0ncr3t0$;Persist Security Info=True;User ID=sa;Initial Catalog=Pedidos;Data Source=concretecweb.cloudapp.net"/>
    <add key="archivo" value="C:\\Concretec\\ProgramacionPedidos"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
