.texto {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	text-align : left;
	color: #000000;

}
.liga {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.liga:hover {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.boton {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #6C6C6C;
	color: #FFFFFF;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #CCCCCC;
	text-decoration: none;
}
.botonover {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #999999;
	color: #FFFFFF;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #CCCCCC;
	text-decoration: none;
}
.titulos {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	padding-left: 10px;
}
.subtitulo {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.marco {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
}
.catalogo {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.texto2 {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.texto-tabla {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding-left: 5px;
}
.Text-BackGroundColor {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	background-color: #FFCC00;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.HorasReporte {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
}
.liga2 {
	font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
