html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI Semilight", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #353535;
}

.formLabel 
{
    border: 1px solid #CCCCCC;
    font-weight: bold;
    text-align: right;
    padding: 4px;
    margin: 2px 2px 4px 2px;
    background: #F5F5F5;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    font-family: 'Segoe UI';
    font-size:13px;
    width:90px;
}

.formValue {
   
    padding: 4px;
    margin: 2px 2px 4px 2px;
    font-family: 'Segoe UI';
    background: #000000;
}