<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="conexion" value="Password=Pato12345;Persist Security Info=True;User ID=sa;Initial Catalog=Pedidos;Data Source=localhost"/>
    <add key ="archivo" value="C:\\Concretec\\ProgramacionPedidos"/>
  </appSettings>
  <connectionStrings>
    <add name="cnConcretec" connectionString="Password=Pato12345;Persist Security Info=True;User ID=sa;Initial Catalog=Pedidos;Data Source=localhost"/>
    <add name="cnAspelSQLMTY" connectionString="server=cloudwaremx.cloudapp.net;database=SQLEMPRESA01;uid=sa;pwd=Pato12345;"/>
    <add name="cnAspelSQLAGS" connectionString="server=localhost;database=SQLEMPRESA02;uid=sa;pwd=Pato12345;"/>
    <add name="cnAspelSQLGDL" connectionString="server=localhost\sql2008r2;database=SQLEMPRESA03;uid=sa;pwd=gvt070725;"/>
    <add name="cnAspelSQLLEON" connectionString="server=localhost;database=SQLEMPRESA04;uid=sa;pwd=Pato12345;"/>
    <add name="cnAspelSQLPUEBLA" connectionString="server=localhost;database=SQLEMPRESA05;uid=sa;pwd=Pato12345;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service behaviorConfiguration="Concretec.Servicios.Service1Behavior" name="Concretec.Servicios.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ClientesBehavior" name="Concretec.Servicios.Clientes">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IClientes">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ObrasBehavior" name="Concretec.Servicios.Obras">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IObras">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ProductosBehavior" name="Concretec.Servicios.Productos">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IProductos">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.EmpleadosBehavior" name="Concretec.Servicios.Empleados">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IEmpleados">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.PersonalBehavior" name="Concretec.Servicios.Personal">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IPersonal">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.UnidadesBehavior" name="Concretec.Servicios.Unidades">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IUnidades">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.UsuariosBehavior" name="Concretec.Servicios.Usuarios">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IUsuarios">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.PedidosBehavior" name="Concretec.Servicios.Pedidos">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IPedidos">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.PlantasBehavior" name="Concretec.Servicios.Plantas">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IPlantas">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.CiudadesBehavior" name="Concretec.Servicios.Ciudades">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.ICiudades">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.MarcaCamionesBehavior" name="Concretec.Servicios.MarcaCamiones">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IMarcaCamiones">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.BitacoraBehavior" name="Concretec.Servicios.Bitacora">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IBitacora">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ConfiguracionBehavior" name="Concretec.Servicios.Configuracion">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IConfiguracion">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.UsosBehavior" name="Concretec.Servicios.Usos">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IUsos">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ViajesBehavior" name="Concretec.Servicios.Viajes">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IViajes">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.SincronizarBehavior" name="Concretec.Servicios.Sincronizar">
        <endpoint address="" binding="basicHttpBinding" contract="Concretec.Servicios.ISincronizar">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Concretec.Servicios.Filtros">
        <endpoint address="" behaviorConfiguration="Concretec.Servicios.FiltrosAspNetAjaxBehavior" binding="webHttpBinding" contract="Concretec.Servicios.Filtros"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.SFiltrosBehavior" name="Concretec.Servicios.SFiltros">
        <endpoint address="" binding="basicHttpBinding" contract="Concretec.Servicios.ISFiltros">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Concretec.Servicios.FiltrosAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Concretec.Servicios.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ClientesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ObrasBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ProductosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.EmpleadosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.PersonalBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.UnidadesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.UsuariosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.PedidosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.PlantasBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.CiudadesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.MarcaCamionesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.BitacoraBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ConfiguracionBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.UsosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ViajesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.SincronizarBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.SFiltrosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>