<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="conexion" value="Password=Pato12345;Persist Security Info=True;User ID=sa;Initial Catalog=Pedidos;Data Source=localhost"/>
    <add key="archivo" value="C:\\Concretec\\ProgramacionPedidos"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4"/>
    </switches>
  </system.diagnostics>
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings/>
    <client/>
    <services>
      <service behaviorConfiguration="Concretec.Servicios.Service1Behavior" name="Concretec.Servicios.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ClientesBehavior" name="Concretec.Servicios.Clientes">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IClientes">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ObrasBehavior" name="Concretec.Servicios.Obras">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IObras">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.ProductosBehavior" name="Concretec.Servicios.Productos">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IProductos">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.EmpleadosBehavior" name="Concretec.Servicios.Empleados">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IEmpleados">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.PersonalBehavior" name="Concretec.Servicios.Personal">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IPersonal">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.UnidadesBehavior" name="Concretec.Servicios.Unidades">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IUnidades">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.UsuariosBehavior" name="Concretec.Servicios.Usuarios">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IUsuarios">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.PedidosBehavior" name="Concretec.Servicios.Pedidos">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IPedidos">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.PlantasBehavior" name="Concretec.Servicios.Plantas">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.IPlantas">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Concretec.Servicios.CiudadesBehavior" name="Concretec.Servicios.Ciudades">
        <endpoint address="" binding="wsHttpBinding" contract="Concretec.Servicios.ICiudades">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Concretec.Servicios.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ClientesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ObrasBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.ProductosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.EmpleadosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.PersonalBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.UnidadesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.UsuariosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.PedidosBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.PlantasBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Concretec.Servicios.CiudadesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <applicationSettings>
    <Concretec.Agentes.Properties.Settings>
      <setting name="CNX" serializeAs="String">
        <value>server=mbarron;database=Pedidos;uid=sa;pwd=Pato12345</value>
      </setting>
    </Concretec.Agentes.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
