
.botonLogin {
	background: url("../Imagenes/botonLogin.jpg") repeat-x; padding: 3px 20px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); color: rgb(111, 128, 149); font-size: 12px; font-weight: bold; cursor: pointer; -moz-border-radius: 4px;
}

body
{
    background-image: url(bg1.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: #FFFFFF;
    font-family: arial;
    font-size: 12px;
    color: #000000;
    margin: 0px auto;
    text-align: left;
    
    font-family:		"Segoe UI", Verdana, Arial, Helvetica, Sans-Serif;
	color:				#353535;
	background-color:   #F2F2F2;
}
#formulario {
	-moz-box-sizing:border-box;
	margin: 0px auto;
	width:892px;
	background-color:#FFFFFF;
	border: 1px solid #C2D0E0;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: left;
	font-family: arial;
	font-size: 11px;
	color: #888888;
}
.ventanita {
	-moz-box-sizing:border-box;
	margin: 0px auto;
	background-color:#FFFFFF;
	border: 1px solid #C2D0E0;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: left;
	font-family: arial;
	font-size: 11px;
	color: #888888;
}
.tablaGriz
{
    -moz-box-sizing: border-box;
    margin: 0px auto;
    background-color: #E6E6E6;
    border: 1px solid #C2D0E0;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    font-family: arial;
    font-size: 12px;
}
#superior {
	-moz-box-sizing:border-box;
	margin:0px auto;
	width:950px;
	border:0px;
	text-align: center;
}
.leyenda
{
    border-style: solid;
    border-width: thin;
    -moz-box-sizing: border-box;
    padding: 5px;
    background-color: #FFFF00;
    text-align: left;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}
p {
	font-family: Arial;
	font-size: 11px;
	color: #888888;
}
	a:link   	{ color: #0000CC; text-decoration: underline }
	a:visited  { color: #0000CC; text-decoration: underline }
	a:hover	{ color: #FFBA54; text-decoration: underline }
	a:active	{ color: #FFBA54; text-decoration: none }

.PopupNombre {
    width: 300px;
}

.modalBackground
{
  background-color:#CCCCFF;
  filter:alpha(opacity=40);
  opacity:0.5;
}

.ModalWindow
{
  border: solid 1px #c0c0c0;
  background:#f0f0f0;
  padding: 0px 10px 10px 10px;
  position:absolute;
  top:-1300px;
}

.TextboxNumerico
{
    text-align: right;
}

#imageBox
{
    margin: auto;
    width: 880px;
    border: 1px #000 solid;
    overflow: hidden;
}

#imageBoxInside
{
    width: 10000px;
}

#imageBox img
{
    float: left;
    padding: 0px;
    margin: 0px;
}

#imageBox br
{
    clear: both;
}

.txtgradiente {
	width: 217px;
	background: transparent url('../Imagenes/bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}