<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="ConnString" value="Password=Pato12345;Persist Security Info=True;User ID=sa;Initial Catalog=Pedidos;Data Source=localhost\sqlexpress"/>
    <add key="conexion" value="Password=Pato12345;Persist Security Info=True;User ID=sa;Initial Catalog=Pedidos;Data Source=localhost\sqlexpress"/>
    <add key="conexionCB2Azure" value="Server=tcp:bhxvd2wx7t.database.windows.net,1433;Database=tlaloc;User ID=cloudware@bhxvd2wx7t;Password=Pato12345;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
    <add key="conexionCB2Local" value="Password=Pato12345;Persist Security Info=True;User ID=sa;Initial Catalog=LogCB2;Data Source=localhost\sqlexpress"/>  
    <add key="MaxUsers" value="50"/>

    <add key="cnConcretec" value="Password=Pato12345;Persist Security Info=True;User ID=sa;Initial Catalog=Pedidos;Data Source=18.207.42.217"/>
    <add key="cnAspelSQLMTY" value="server=cloudwaremx.cloudapp.net;database=SQLEMPRESA01;uid=sa;pwd=Pato12345;"/>
    <add key="cnAspelSQLAGS" value="server=localhost;database=SQLEMPRESA02;uid=sa;pwd=Pato12345;"/>
    <add key="cnAspelSQLGDL" value="server=localhost\sql2008r2;database=SQLEMPRESA03;uid=sa;pwd=gvt070725;"/>
    <add key="cnAspelSQLLEON" value="server=localhost;database=SQLEMPRESA04;uid=sa;pwd=Pato12345;"/>
    <add key="cnAspelSQLPUEBLA" value="server=localhost;database=SQLEMPRESA05;uid=sa;pwd=Pato12345;"/>

    <add key="cnAzureSync" value="server=sqldevgema.database.windows.net;database=SyncConcretos;uid=mbarron;pwd=M4r10b4rr0n$;"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></appSettings>
